<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZZScanQRcode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01336F6B1EAFD1B1001B0C05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01336F7F1EAFD1B2001B0C05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01336F8A1EAFD1B2001B0C05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
